<h1>Add user</h1>


  <form action="/" method="get">
  First name: <br />
  <input type="text" name="first" autofocus /> <br />
  Last name:<br />
  <input type="text" name="last" /><br />
  Age:<br />
  <input type="text" name="age" /><br />
  Gender:<br />
  <input type="text" name="gender" /><br />

  <button>Add to database!</button>
</form>